@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
    font-size: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(65, 65, 65);
    margin-top: 10px;
    text-shadow: 0px 1px 2px rgb(107, 106, 106);
}

span {
    color: #644FE0;
}

body {
    background: white url('assets/Logins.png') center center no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    /*para nao aparecer uma barra de rolagem*/
}

.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #FAFAFA;
    width: 450px;
    height: 520px;
    padding: 10px 35px 35px 35px;
    border-radius: 10px;
    box-shadow: 1px 5px 50px rgb(91, 79, 148);
}

.login form {
    width: 310px;
    margin: 40px;
    /*para ficar um input em cima do outro*/
    text-align: right;
    margin-bottom: 0px;
}

.login input {
    margin-top: 10px;
    /*para ter um espaçamento entre eles*/
    width: 70%;
    color: rgb(65, 65, 65);
    background-color: #DBDCFB;
    border: none;
    height: 28px;
    outline: none;
    border-radius: 4px;
    padding-left: 8px;
}

.usuario {
    margin-left: 90px;
    margin-top: 75px;
}

input::placeholder {
    color: rgb(65, 65, 65);
    font-size: 13px;
}

form [type="submit"] {
    background-color: #644FE0;
    color: whitesmoke;
    width: 73%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(25, 0, 255);
    text-decoration: underline;
}

p {
    text-align: center;
}

#preencherdados {
    position: absolute;
    padding-left: 85px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#esquecisenha {
    width: 66%;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 0px;
}

#naopossuiconta {
    margin-top: 80px;
}

img {
    padding-left: 95px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /*para não aparecer as setas do tipo number*/
}